


















INST "apuf_instance/mux_array_inst/array_gen[0].mux_instance_odd/mux_inst" BEL = F7AMUX;
INST "apuf_instance/mux_array_inst/array_gen[0].mux_instance_odd/mux_inst" LOC = SLICE_X0Y2;
INST "apuf_instance/mux_array_inst/array_gen[0].mux_instance_even/mux_inst" BEL = F7BMUX;
INST "apuf_instance/mux_array_inst/array_gen[0].mux_instance_even/mux_inst" LOC = SLICE_X0Y2;
INST "apuf_instance/mux_array_inst/array_gen[1].mux_instance_odd/mux_inst" BEL = F7AMUX;
INST "apuf_instance/mux_array_inst/array_gen[1].mux_instance_odd/mux_inst" LOC = SLICE_X0Y3;
INST "apuf_instance/mux_array_inst/array_gen[1].mux_instance_even/mux_inst" BEL = F7BMUX;
INST "apuf_instance/mux_array_inst/array_gen[1].mux_instance_even/mux_inst" LOC = SLICE_X0Y3;
INST "apuf_instance/mux_array_inst/array_gen[2].mux_instance_odd/mux_inst" BEL = F7AMUX;
INST "apuf_instance/mux_array_inst/array_gen[2].mux_instance_odd/mux_inst" LOC = SLICE_X0Y4;
INST "apuf_instance/mux_array_inst/array_gen[2].mux_instance_even/mux_inst" BEL = F7BMUX;
INST "apuf_instance/mux_array_inst/array_gen[2].mux_instance_even/mux_inst" LOC = SLICE_X0Y4;
INST "apuf_instance/mux_array_inst/array_gen[3].mux_instance_odd/mux_inst" BEL = F7AMUX;
INST "apuf_instance/mux_array_inst/array_gen[3].mux_instance_odd/mux_inst" LOC = SLICE_X0Y5;
INST "apuf_instance/mux_array_inst/array_gen[3].mux_instance_even/mux_inst" BEL = F7BMUX;
INST "apuf_instance/mux_array_inst/array_gen[3].mux_instance_even/mux_inst" LOC = SLICE_X0Y5;
INST "apuf_instance/mux_array_inst/array_gen[4].mux_instance_odd/mux_inst" BEL = F7AMUX;
INST "apuf_instance/mux_array_inst/array_gen[4].mux_instance_odd/mux_inst" LOC = SLICE_X0Y6;
INST "apuf_instance/mux_array_inst/array_gen[4].mux_instance_even/mux_inst" BEL = F7BMUX;
INST "apuf_instance/mux_array_inst/array_gen[4].mux_instance_even/mux_inst" LOC = SLICE_X0Y6;
INST "apuf_instance/mux_array_inst/array_gen[5].mux_instance_odd/mux_inst" BEL = F7AMUX;
INST "apuf_instance/mux_array_inst/array_gen[5].mux_instance_odd/mux_inst" LOC = SLICE_X0Y7;
INST "apuf_instance/mux_array_inst/array_gen[5].mux_instance_even/mux_inst" BEL = F7BMUX;
INST "apuf_instance/mux_array_inst/array_gen[5].mux_instance_even/mux_inst" LOC = SLICE_X0Y7;
INST "apuf_instance/mux_array_inst/array_gen[6].mux_instance_odd/mux_inst" BEL = F7AMUX;
INST "apuf_instance/mux_array_inst/array_gen[6].mux_instance_odd/mux_inst" LOC = SLICE_X0Y8;
INST "apuf_instance/mux_array_inst/array_gen[6].mux_instance_even/mux_inst" BEL = F7BMUX;
INST "apuf_instance/mux_array_inst/array_gen[6].mux_instance_even/mux_inst" LOC = SLICE_X0Y8;
INST "apuf_instance/mux_array_inst/array_gen[7].mux_instance_odd/mux_inst" BEL = F7AMUX;
INST "apuf_instance/mux_array_inst/array_gen[7].mux_instance_odd/mux_inst" LOC = SLICE_X0Y9;
INST "apuf_instance/mux_array_inst/array_gen[7].mux_instance_even/mux_inst" BEL = F7BMUX;
INST "apuf_instance/mux_array_inst/array_gen[7].mux_instance_even/mux_inst" LOC = SLICE_X0Y9;
INST "apuf_instance/mux_array_inst/array_gen[8].mux_instance_odd/mux_inst" BEL = F7AMUX;
INST "apuf_instance/mux_array_inst/array_gen[8].mux_instance_odd/mux_inst" LOC = SLICE_X0Y10;
INST "apuf_instance/mux_array_inst/array_gen[8].mux_instance_even/mux_inst" BEL = F7BMUX;
INST "apuf_instance/mux_array_inst/array_gen[8].mux_instance_even/mux_inst" LOC = SLICE_X0Y10;
INST "apuf_instance/mux_array_inst/array_gen[9].mux_instance_odd/mux_inst" BEL = F7AMUX;
INST "apuf_instance/mux_array_inst/array_gen[9].mux_instance_odd/mux_inst" LOC = SLICE_X0Y11;
INST "apuf_instance/mux_array_inst/array_gen[9].mux_instance_even/mux_inst" BEL = F7BMUX;
INST "apuf_instance/mux_array_inst/array_gen[9].mux_instance_even/mux_inst" LOC = SLICE_X0Y11;
INST "apuf_instance/mux_array_inst/array_gen[10].mux_instance_odd/mux_inst" BEL = F7AMUX;
INST "apuf_instance/mux_array_inst/array_gen[10].mux_instance_odd/mux_inst" LOC = SLICE_X0Y12;
INST "apuf_instance/mux_array_inst/array_gen[10].mux_instance_even/mux_inst" BEL = F7BMUX;
INST "apuf_instance/mux_array_inst/array_gen[10].mux_instance_even/mux_inst" LOC = SLICE_X0Y12;
INST "apuf_instance/mux_array_inst/array_gen[11].mux_instance_odd/mux_inst" BEL = F7AMUX;
INST "apuf_instance/mux_array_inst/array_gen[11].mux_instance_odd/mux_inst" LOC = SLICE_X0Y13;
INST "apuf_instance/mux_array_inst/array_gen[11].mux_instance_even/mux_inst" BEL = F7BMUX;
INST "apuf_instance/mux_array_inst/array_gen[11].mux_instance_even/mux_inst" LOC = SLICE_X0Y13;
INST "apuf_instance/mux_array_inst/array_gen[12].mux_instance_odd/mux_inst" BEL = F7AMUX;
INST "apuf_instance/mux_array_inst/array_gen[12].mux_instance_odd/mux_inst" LOC = SLICE_X0Y14;
INST "apuf_instance/mux_array_inst/array_gen[12].mux_instance_even/mux_inst" BEL = F7BMUX;
INST "apuf_instance/mux_array_inst/array_gen[12].mux_instance_even/mux_inst" LOC = SLICE_X0Y14;
INST "apuf_instance/mux_array_inst/array_gen[13].mux_instance_odd/mux_inst" BEL = F7AMUX;
INST "apuf_instance/mux_array_inst/array_gen[13].mux_instance_odd/mux_inst" LOC = SLICE_X0Y15;
INST "apuf_instance/mux_array_inst/array_gen[13].mux_instance_even/mux_inst" BEL = F7BMUX;
INST "apuf_instance/mux_array_inst/array_gen[13].mux_instance_even/mux_inst" LOC = SLICE_X0Y15;
INST "apuf_instance/mux_array_inst/array_gen[14].mux_instance_odd/mux_inst" BEL = F7AMUX;
INST "apuf_instance/mux_array_inst/array_gen[14].mux_instance_odd/mux_inst" LOC = SLICE_X0Y16;
INST "apuf_instance/mux_array_inst/array_gen[14].mux_instance_even/mux_inst" BEL = F7BMUX;
INST "apuf_instance/mux_array_inst/array_gen[14].mux_instance_even/mux_inst" LOC = SLICE_X0Y16;
INST "apuf_instance/mux_array_inst/array_gen[15].mux_instance_odd/mux_inst" BEL = F7AMUX;
INST "apuf_instance/mux_array_inst/array_gen[15].mux_instance_odd/mux_inst" LOC = SLICE_X0Y17;
INST "apuf_instance/mux_array_inst/array_gen[15].mux_instance_even/mux_inst" BEL = F7BMUX;
INST "apuf_instance/mux_array_inst/array_gen[15].mux_instance_even/mux_inst" LOC = SLICE_X0Y17;
INST "apuf_instance/d_trig_inst" BEL = AFF;
INST "apuf_instance/d_trig_inst" LOC = SLICE_X0Y18;
NET "s_ublaze_io2_i[0]" KEEP = "TRUE";
NET "s_ublaze_io2_o" KEEP = "TRUE";
NET "s_ublaze_io1[3]" KEEP = "TRUE";
NET "s_ublaze_io1[2]" KEEP = "TRUE";
NET "s_ublaze_io1[1]" KEEP = "TRUE";
NET "s_ublaze_io1[0]" KEEP = "TRUE";
