









INST "mux_array_inst" AREA_GROUP = "pblock_mux_array_inst";




INST "arbiter_puf_inst/d_trig_inst" BEL = BFF;
INST "arbiter_puf_inst/d_trig_inst" LOC = SLICE_X21Y51;


INST "arbiter_puf_inst/d_trig_inst" IOB =FALSE;
INST "arbiter_puf_inst/mux_array_inst/array_gen[0].mux_instance_even/mux_inst" IOB =FALSE;
INST "arbiter_puf_inst/mux_array_inst/array_gen[0].mux_instance_odd/mux_inst" IOB =FALSE;


INST "ublaze_inst/axi_timer_0" AREA_GROUP = "pblock_1";
INST "ublaze_inst/microblaze_0_d_bram_ctrl" AREA_GROUP = "pblock_1";
INST "ublaze_inst/debug_module" AREA_GROUP = "pblock_1";
INST "ublaze_inst/RS232" AREA_GROUP = "pblock_1";
INST "ublaze_inst/Generic_GPIO" AREA_GROUP = "pblock_1";
INST "ublaze_inst/proc_sys_reset_0" AREA_GROUP = "pblock_1";
INST "ublaze_inst/microblaze_0" AREA_GROUP = "pblock_1";
INST "ublaze_inst/microblaze_0_intc" AREA_GROUP = "pblock_1";
INST "ublaze_inst/microblaze_0_bram_block" AREA_GROUP = "pblock_1";
INST "ublaze_inst/axi4lite_0" AREA_GROUP = "pblock_1";
INST "ublaze_inst/microblaze_0_dlmb" AREA_GROUP = "pblock_1";
INST "ublaze_inst/microblaze_0_i_bram_ctrl" AREA_GROUP = "pblock_1";
INST "ublaze_inst/microblaze_0_ilmb" AREA_GROUP = "pblock_1";
INST "ublaze_inst/clock_generator_0" AREA_GROUP = "pblock_1";
AREA_GROUP "pblock_1" RANGE=SLICE_X16Y2:SLICE_X19Y61, SLICE_X14Y0:SLICE_X15Y63, SLICE_X0Y2:SLICE_X13Y61;
AREA_GROUP "pblock_1" RANGE=DSP48_X0Y0:DSP48_X0Y15;
AREA_GROUP "pblock_1" RANGE=RAMB16_X0Y0:RAMB16_X0Y30;
AREA_GROUP "pblock_1" RANGE=RAMB8_X0Y0:RAMB8_X0Y31;

# PlanAhead Generated physical constraints 

INST "arbiter_puf_inst/mux_array_inst" AREA_GROUP = "pblock_mux_array_inst";
AREA_GROUP "pblock_mux_array_inst" RANGE=SLICE_X20Y52:SLICE_X23Y61;
